
*.kdev4
*.fits
*.log
*~
*h5

*.pdf

.idea

._*

Data

#Tests
Test

# Analysis results
Analysis
Analysis*

# Plots
Plots
Plot

.DS_Store

__pycache__
.cache
‚

# jupyter checkpoints
.ipynb_checkpoints

# module egg...
*.egg-info
